.btn-perfil{
    border:none;
    background: none;
    padding: 10px 30px 0px 0px;
}

.bg-green{
    background-color: #5B9894;
}

.logo-left{
    float: right;
}

.logo-rigth{
    position: absolute;
    right: 0px;
    top: 7px
}