{% extends "navbar.html" %}


{% block card%}
    <div class="custom-container">
        <div class="container">
            <div class="row">
                <div class="col ">
                    <button onclick="window.location.href='{{ url_for('form_page') }}'" class="card text-center" style="width: 18rem;">
                        <img src="{{ url_for('static', filename='images/compra.png') }}" class="card-img-top" alt="Submit" style="cursor: pointer;">
                        <div class="card-body">
                        <h5 class="card-title">Compra</h5>
                        </div>
                    </button>
                </div>
                <div class="col">
                    <button onclick="window.location.href='{{ url_for('lista_venta') }}'" class="card text-center" style="width: 18rem;">
                        <img src="{{ url_for('static', filename='images/venta.png') }}" class="card-img-top" alt="Submit" style="cursor: pointer;">
                        <div class="card-body">
                            <h5 class="card-title">Venta</h5>
                        </div>
                    </button>
                </div>
                <div class="col">
                    <button class="card text-center" style="width: 18rem;">
                        <img src="{{ url_for('static', filename='images/transacciones.png') }}" class="card-img-top" alt="Submit" style="cursor: pointer;">
                        <div class="card-body">
                        <h5 class="card-title">Transacciones</h5>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
