{% extends "navbar.html" %}

{% block form_compra %}
<form method="POST" action="/submit" class="mb-3">
    {{ form.hidden_tag() }}
    <div class="mt-4">
        <div class="container">
            <div class="form-container">
                <h2 class="container-title">Vehiculo</h2>
                <div class="mb-3">
                    <div class="row">
                        <div class="col form-group">
                            {{ form.dominio.label(class="form-control-label") }}
                            {{ form.dominio(class="form-control") }}
                        </div>
                        <div class="col">
                            {{ form.marca.label(class="form-control-label") }}
                            {{ form.marca(class="form-control") }}
                        </div>
                        <div class="col">
                            {{ form.modelo.label(class="form-control-label") }}
                            {{ form.modelo(class="form-control") }}
                        </div>
                        <div class="col">
                            {{ form.tipo.label(class="form-control-label") }}
                            {{ form.tipo(class="form-control") }}
                        </div>
                        <div class="col">
                            {{ form.año.label(class="form-control-label") }}
                            {{ form.año(class="form-control") }}
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            {{ form.kilometraje.label(class="form-control-label") }}
                            {{ form.kilometraje(class="form-control") }}
                        </div>
                        <div class="col">
                            {{ form.precioDeCompra.label(class="form-control-label") }}
                            {{ form.precioDeCompra(class="form-control") }}
                        </div>
                        <div class="col">
                            {{ form.precioDeVenta.label(class="form-control-label") }}
                            {{ form.precioDeVenta(class="form-control") }}
                        </div>
                        <div class="col">
                            {{ form.estado.label(class="form-control-label") }}
                            {{ form.estado(class="form-control") }}
                        </div>
                        <div class="col">
                            <div class="form-group">
                                {{ form.delete.label }}<br>
                                {% for subfield in form.delete %}
                                    <div class="form-check">
                                        {{ subfield(class="form-check-input") }}
                                        {{ subfield.label(class="form-check-label") }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-container mt-3">
                <h2 class="container-title">Cliente Proveedor</h2>
                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            {{ form.nombre.label(class="form-control-label") }}
                            {{ form.nombre(class="form-control") }}
                        </div>
                        <div class="col">
                            {{ form.apellido.label(class="form-control-label") }}
                            {{ form.apellido(class="form-control") }}
                        </div>
                        <div class="col">
                            {{ form.dni.label(class="form-control-label") }}
                            {{ form.dni(class="form-control") }}
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            {{ form.direccion.label(class="form-control-label") }}
                            {{ form.direccion(class="form-control") }}
                        </div>
                        <div class="col">
                            {{ form.telefono.label(class="form-control-label") }}
                            {{ form.telefono(class="form-control") }}
                        </div>
                        <div class="col">
                            {{ form.email.label(class="form-control-label") }}
                            {{ form.email(class="form-control") }}
                        </div>
                    </div>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary mt-2">Guardar</button>
        </div>        
    </div>
</form>
{% endblock %}

