{% extends "index.html" %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-green">
    <div class="container-fluid justify-content-center">
        <div>
            <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Submit">
        </div>
        <div>
            <span>
                Vehicle Dealership Management System Used
            </span>    
        </div>
        <div>
            <img class="logo-rigth" src="{{ url_for('static', filename='images/Perfil.png') }}" alt="Submit" style="cursor: pointer;">
        </div>
    </div>    
</nav>
{% endblock %}