{% extends "navbar.html" %}


{% block transaccion %}
<div class="navbar-container">
    <div class="navbar-left mt-100">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Compra
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <form action="{{ url_for('transaccion', valor='cliente') }}" method="POST" style="display: inline;">
                                    <button type="submit" class="btn btn-link nav-link">Por Cliente</button>
                                </form>
                            </li>
                            <li class="nav-item">
                                <form action="{{ url_for('transaccion', valor='vehiculo') }}" method="POST" style="display: inline;">
                                    <button type="submit" class="btn btn-link nav-link">Por Vehiculo</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Venta
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <li class="nav-item">
                                    <form action="{{ url_for('transaccion', valor='clientev') }}" method="POST" style="display: inline;">
                                        <button type="submit" class="btn btn-link nav-link">Por Cliente</button>
                                    </form>
                                </li>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-right">
        {% block cliente_proveedor %}   {% endblock %}
        
        {% block lista_vehiculos_proveedor %}{% endblock %}

        {% block listado_clientes_x_vehiculos %}{% endblock %}

        {% block cliente_consumidor %}{% endblock %}
    </div>
</div>
{% endblock %}